<%= render 'navbar' %>
<p>Find me in app/views/session_interviewer/new.html.erb</p>
<% if flash[:alert] %>
<p id = "notice"><%= flash[:alert] %></p>
<% end %>
<% if notice %>
<p id = "notice"><%= notice %></p>
<% end %>

<%= form_tag do %>
<fieldset>

  <div>
    <%= label_tag :college_name, "I want to study in: " %>
    <%= text_field_tag :college_name, params[:college_name] %>
  </div>
</fieldset>
<p> or </p>
<fieldset>
  <div>
    <%= label_tag :org_name, "I want to work in: " %>
    <%= text_field_tag :org_name, params[:org_name] %>
  </div>
  <div>
    <%= label_tag :org_pos, "As a: " %>
    <%= text_field_tag :org_pos, params[:org_pos] %>
  </div>
</fieldset>
  <div>
    <%= submit_tag "Search" %>
  </div>


<% end %>
</div>
