<h1>SessionsCandidate#new</h1>
<p>Find me in app/views/sessions_candidate/new.html.erb</p>
<% if flash[:alert] %>
<p id = "notice"><%= flash[:alert] %></p>
<% end %>
<% if notice %>
<p id = "notice"><%= notice %></p>
<% end %>

<%= form_tag do %>
<fieldset>
  <legend> Please Log In </legend>
  <div>
    <%= label_tag :user_id, "User ID:" %>
    <%= text_field_tag :user_id, params[:user_id] %>
  </div>
  <div>
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password, params[:password] %>
  </div>

  <div>
    <%= submit_tag "Login" %>
  </div>
  <div>
    <a href="/candidates/new"> Register here </a>
   </div>
</fieldset>
<% end %>
</div>
