<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @interviewer.email_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interviewer.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @interviewer.bio %>
</p>

<p>
  <strong>Skill 1:</strong>
  <%= @interviewer.skill_1 %>
</p>

<p>
  <strong>Skill 2:</strong>
  <%= @interviewer.skill_2 %>
</p>

<p>
  <strong>Skill 3:</strong>
  <%= @interviewer.skill_3 %>
</p>

<p>
  <strong>Skill 4:</strong>
  <%= @interviewer.skill_4 %>
</p>

<p>
  <strong>Skill 5:</strong>
  <%= @interviewer.skill_5 %>
</p>

<p>
  <strong>Tel no:</strong>
  <%= @interviewer.tel_no %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @interviewer.skype_id %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @interviewer.linkedin_url %>
</p>

<p>
  <strong>Voice call y:</strong>
  <%= @interviewer.voice_call_y %>
</p>

<p>
  <strong>Voice call r:</strong>
  <%= @interviewer.voice_call_r %>
</p>

<p>
  <strong>Video call y:</strong>
  <%= @interviewer.video_call_y %>
</p>

<p>
  <strong>Video call r:</strong>
  <%= @interviewer.video_call_r %>
</p>

<p>
  <strong>Meeting y:</strong>
  <%= @interviewer.meeting_y %>
</p>

<p>
  <strong>Meeting r:</strong>
  <%= @interviewer.meeting_r %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @interviewer.currency %>
</p>

<p>
  <strong>Current emp:</strong>
  <%= @interviewer.current_emp %>
</p>

<p>
  <strong>Prev emp 1:</strong>
  <%= @interviewer.prev_emp_1 %>
</p>

<p>
  <strong>Prev emp 2:</strong>
  <%= @interviewer.prev_emp_2 %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @interviewer.rating %>
</p>

<p>
  <strong>No of rating:</strong>
  <%= @interviewer.no_of_rating %>
</p>

<p>
  <strong>Money earner:</strong>
  <%= @interviewer.money_earner %>
</p>

<p>
  <strong>Money disbursed:</strong>
  <%= @interviewer.money_disbursed %>
</p>

<%= link_to 'Edit', edit_interviewer_path(@interviewer) %> |
<%= link_to 'Back', interviewers_path %>
