<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %>
    <%= f.text_field :request_id %>
  </div>

  <div class="field">
    <%= f.label :from_id %>
    <%= f.text_field :from_id %>
  </div>

  <div class="field">
    <%= f.label :to_id %>
    <%= f.text_field :to_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :mode %>
    <%= f.text_field :mode %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
