<p id="notice"><%= notice %></p>

<p>
  <strong>Date 1:</strong>
  <%= @request.date_1 %>
</p>

<p>
  <strong>Time 1:</strong>
  <%= @request.time_1 %>
</p>

<p>
  <strong>Date 2:</strong>
  <%= @request.date_2 %>
</p>

<p>
  <strong>Time 2:</strong>
  <%= @request.time_2 %>
</p>

<p>
  <strong>Date 3:</strong>
  <%= @request.date_3 %>
</p>

<p>
  <strong>Time 3:</strong>
  <%= @request.time_3 %>
</p>

<p>
  <strong>Date 4:</strong>
  <%= @request.date_4 %>
</p>

<p>
  <strong>Time 4:</strong>
  <%= @request.time_4 %>
</p>

<p>
  <strong>Date 5:</strong>
  <%= @request.date_5 %>
</p>

<p>
  <strong>Time 5:</strong>
  <%= @request.time_5 %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @request.mode %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @request.approved %>
</p>

<p>
  <strong>Approved date:</strong>
  <%= @request.approved_date %>
</p>

<p>
  <strong>Approved time:</strong>
  <%= @request.approved_time %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
