<%= form_for(candidate) do |f| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
  <div class="form-group">
    <td><%= f.label :email_id, class: 'col-sm-2 control-label' %></td>
    <td><%= f.text_field :email_id, class: 'form-control' %></td>
  </div></tr>

  <tr>
  <div class="form-group">
    <td><%= f.label :password, class: 'col-sm-2 control-label' %></td>
    <td><%= f.password_field :password, class: 'form-control' %></td>
  </div></tr>

<tr>
  <div class="form-group">
    <td><%= f.label :password_confirmation, class: 'col-sm-2 control-label' %></td>
    <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
  </div></tr>

<tr>
  <div class="form-group">
    <td><%= f.label :name, class: 'col-sm-2 control-label' %></td>
    <td><%= f.text_field :name, class: 'form-control' %></td>
  </div></tr>

<tr>
  <div class="form-group">
    <td><%= f.label :tel_no, class: 'col-sm-2 control-label' %></td>
    <td><%= f.text_field :tel_no, class: 'form-control' %></td>
  </div></tr>

<tr>
  <div class="form-group">
    <td><%= f.label :skype_id, class: 'col-sm-2 control-label' %></td>
    <td><%= f.text_field :skype_id, class: 'form-control' %></td>
  </div></tr>

<tr>
  <div class="form-group">
    <td><%= f.label :linkedin_url, class: 'col-sm-2 control-label' %></td>
    <td><%= f.text_field :linkedin_url, class: 'form-control' %></td>
  </div></tr>

<tr>
  <td></td><td>
    <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit %></td> </div> </div>
  </tr>
</table>
<% end %>
