<h1> This is home page interviewer </h1>
<p id="notice"><%= notice %></p>

<% if @no_request == 1 %>
  <h1> You have no requests yet! </h1>
<% else %>
  <h1>Requests</h1>
  <% @requests.each do |request| %>
      <%= form_tag do %>
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>Date and Time</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td rowspan="5"><%= request.candidate %></td>

              <td><%= radio_button_tag(request.id, "1") %>
                <%= label_tag(:time_1, "#{request.time_1}") %></td>

              <td rowspan="5"><%= button_to "Approve", interviewer_dashboard_url, params: {id: request.id, status: 1} %></td>
              <td rowspan="5"><%= button_to "Reject", interviewer_dashboard_url, params: {id: request.id, status: 2} %></td></tr>
            <tr> <td>
              <%= radio_button_tag(request.id, "2") %>
              <%= label_tag(:time_2, "#{request.time_2}") %> </td>
            </tr>

            <tr><td>
              <%= radio_button_tag(request.id, "3") %>
              <%= label_tag(:time_3, "#{request.time_3}") %></td>
            </tr>

            <tr><td>
              <%= radio_button_tag(request.id, "4") %>
              <%= label_tag(:time_4, "#{request.time_4}") %></td>
            </tr>

            <tr><td>
              <%= radio_button_tag(request.id, "5") %>
              <%= label_tag(:time_5, "#{request.time_5}") %></td>
            </tr>

          </tbody>
        </table>
<% end %>
<br>
<% end %>
<% end %>
