<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @testimonial.text %>
</p>

<p>
  <strong>From:</strong>
  <%= @testimonial.from_id %>
</p>

<p>
  <strong>To:</strong>
  <%= @testimonial.to_id %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
